body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

/* ======================styles for main box======================== */
/* 
#downimage {
  height: 20px;
  width: 20px;
} */

#main {
  position: absolute;
  top: 220px;
  left: 650px;
  height: 35px;
  width: 130px;
  background-color: rgb(79, 84, 87);
  border-radius: 17px;
  text-align: center;
  cursor:grab;
}

#downtext {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: bold;
}

#downimage {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  height: 20px;
  width: 20px;
  
}

/* ====================styles for tooltip box for top============================ */
#tooltiptop{
  padding: 4px;
  font-size: 13px;
}


#tipboxtop {
  position: absolute;
  top: -65px;
  height: 46px;
  left: 1px;
  width: 124px;
  border-radius: 5px;
  background-color: rgb(247, 248, 248);
  text-align: center;
}

#triangletop {
  height: 0;
  width: 0;
  top: 46px;
  position: absolute;
  left: 55px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 16px solid rgb(247, 248, 248);;
}

/* =========================down tooltip========================== */
#tooltipdown{
  padding: 4px;
  font-size: 13px;
}


#tipboxdown {
  position: absolute;
  top: 50px;
  height: 46px;
  left: 5px;
  width: 124px;
  border-radius: 5px;
  background-color:rgb(247, 248, 248);
  text-align: center;
}

#triangledown {
  height: 0;
  width: 0;
  top: -16px;
  position: absolute;
  left: 55px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid rgb(247, 248, 248);;
}

/* =========================left tooltip================================ */
#tooltipleft{
  padding: 4px;
  font-size: 13px;
}
#tipboxleft {
  position: absolute;
  top: -8px;
  height: 46px;
  left: -140px;
  width: 124px;
  border-radius: 5px;
  background-color:rgb(247, 248, 248);
  text-align: center;
}

#triangleleft {
  height: 0;
  width: 0;
  top: 17px;
  position: absolute;
  left: 124px;
  border-bottom: 8px solid transparent;
  border-left: 16px solid rgb(247, 248, 248);;
  border-top: 8px solid transparent;
}

/* ================================right tooltip============================= */
#tooltipright{
  padding: 4px;
  font-size: 13px;
}
#tipboxright {
  position: absolute;
  top: -8px;
  height: 46px;
  left: 146px;
  width: 124px;
  border-radius: 5px;
  background-color: rgb(247, 248, 248);
  text-align: center;
}

#triangleright {
  height: 0;
  width: 0;
  top: 16px;
  position: absolute;
  left: -16px;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 16px solid rgb(247, 248, 248);;
}

label {
  position: absolute;
  top: 165px;
  left: 236px;
  color: blanchedalmond;
}

 #heading{ 
  margin-right: 4px;
 }

select{
  border-radius: 20px;
  padding:7px;
  font-size: 16px;
}